{% extends "app/home.html" %}
{% load static %}

<title>{% block title %}CUBE ROOT{% endblock %}</title>
{% block content %}
<div class = "container">
    <div class = "spacer">
<h3>Enter a Number to get its Cube Root :</h3>
<h4>(For example : Entering 27 will get answer - 3)</h4><br>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ cbrti.as_p }} <br>
            &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
            <button type="submit" class="btn btn-outline-primary">Cube Root</button>
        </form>
    </div>
</div>
<br><br>
<div class = "container text-center">
    <a href="{% url 'home' %}" ><button class="btn btn-outline-primary">Home</button></a>
</div>

{% endblock %}