{% extends "app/home.html" %}
{% load static %}

<title>{% block title %}MILES{% endblock %}</title>
{% block content %}
<div class = "container text-center">
    <div class = "spacer">
<h3>Enter Inches to get measurement in Centimeters :</h3>
<h4>(1 Inch = 2.54 Centimeters)</h4><br>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ inchi.as_p }} <br>
            &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
            <button type="submit" class="btn btn-outline-primary">Inches</button>
        </form>
    </div>
</div>
<br><br>
<div class = "container text-center">
    <a href="{% url 'home' %}" ><button class="btn btn-outline-primary">Home</button></a>
</div>

{% endblock %}