{% extends "app/home.html" %}
{% load static %}

<title>{% block title %}QUOTIENT{% endblock %}</title>
{% block content %}
<div class = "container">
    <div class = "spacer">
<h3>Enter 2 Numbers to find the quotient of the first number when divided by second number :</h3>
<h4>(Expression executed = First Number % Second Number)</h4><br>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ quoi.as_p }} <br>
            &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
            <button type="submit" class="btn btn-outline-primary">Quotient</button>
        </form>
    </div>
</div>
<br><br>
<div class = "container text-center">
    <a href="{% url 'home' %}" ><button class="btn btn-outline-primary">Home</button></a>
</div>

{% endblock %}