.container {
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center; /* Distribute items evenly */
    text-align: center;
}

.spacer {
    margin-top: 170px;
    margin-bottom: 170px;
    text-align: center;
        } 

.child-element {
    position: relative;
    top : 0;
    left : 50%;
    background-color: darksalmon ;
}

.parent-element {
    background-color: aquamarine;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}